@import url('https://js.api.here.com/v3/3.1/mapsjs-ui.css');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(179deg);
    }
}

html, body, #vue-app {
    font-family: 'Hepta Slab', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    .loader {
        position: absolute;
        z-index: 1;
        top: calc(50% - 30px);
        display: flex;
        flex-wrap: wrap;
        width: 60px;
        height: 60px;
        background-color: #000;
        clip-path: circle(12px at center);
        animation: rotate .5s linear infinite;
        transform-origin: center;

        div {
            width: 50%;
            height: 50%;
           
            &:nth-child(1), &:nth-child(4) {
                background-color: #fff;
            }

            &:nth-child(2), &:nth-child(3) {
                background-color: #ed241c;
            }
        }
    }

    a {
        color: #000;

        &:hover {
            text-decoration: none;
        }

        &.cancel {
            display: block;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            top: 30px;
            right: 30px;
            z-index: 1;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px #ccc solid;
            box-shadow: 0 0 10px -2px #ccc;
            text-decoration: none;
            color: #ccc;
            font-weight: bolder;
        }
    }

    

    form {

        input[type=text], input[type=email], textarea, select {
            -webkit-appearance: none;
            padding: 10px;
            border-radius: 3px;
            margin-top: 4px;
            margin-left: -11px;
            border: 1px solid #ccc;
            font-family: 'Hepta Slab', sans-serif;
            font-size: 1em;
            width: 300px;
        }

        select {
            width: 322px;
        }

        textarea {
            height: 150px;
        }

        input[type=submit] {
            -webkit-appearance: none;
            display: block;
            width: 120px;
            border: none;
            border-radius: 3px;
            line-height: 2.2em;
            text-align: center;
            background-color: #ebebeb;
            font-family: 'Hepta Slab', sans-serif;
        }
    }

    .view {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;

        .flash {
            z-index: 1;
            position: absolute;
            text-align: center;
            width: 300px;
            padding: 15px;
            top: 50px;
            background-color: #fff;
            border-radius: 10px;
            border: 4px solid #ffd91d;
            box-shadow: 0 0 10px -2px #000;
            text-align: center;
            font-size: 0.9em;
        }

        .help {
            display: block;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            bottom: 50px;
            z-index: 1;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            border: 2px #ffd91d solid;
            box-shadow: 0 0 10px -2px #000;
            text-decoration: none;
            color: #000;
        }

        #here {
            width: 100%;
            height: 100%;

            &.loading {
                opacity: .4;
            }
        }

        &.here {
            background-color: #000;
        }

        &.center {
            align-items: center;
        }

        &.center-text {
            text-align: center;
        }
    }
}